<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scop.portal.dao.customer.CustomerMapper">

    <select id="customerList" resultType="Customer">
        select *
        from customer
        where 1=1
        <if test="searchCustName != null and searchCustName != ''">
        and name = #{searchCustName}
        </if>
        order by id asc
            limit #{pageStart}, #{perPageNum}
    </select>

    <select id="customerCount" resultType="int">
        select count(1)
        from customer
        where 1=1
        <if test="searchCustName != null and searchCustName != ''">
            and name = #{searchCustName}
        </if>
    </select>

    <select id="readCustomer" resultType="Customer">
        select id          as id
             , name        as name
             , create_time as createTime
        from customer
        where id = #{customerId}
    </select>

    <update id="updateCustomer" parameterType="Customer">
        update customer
        set name        = #{name}
          , create_time = current_timestamp()
        where id = #{id}
    </update>

</mapper>