<!DOCTYPE HTML>
<html
        layout:decorate="~{/views/layout/listLayout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:inline="javascript">
        let perPageNum = [[${pageMaker.criteria.perPageNum}]]
    </script>
    <title>고객사 리스트</title>
</head>
<th:block layout:fragment="content">
    <div class="page_title">
        <p class="path"><span>홈</span><span class="path_01">고객사 관리</span></p> <!-- 텍스트가 동일한 LNB 메뉴가 자동 활성화됨 -->
        <h2 class="h2">고객사 관리</h2>
    </div>
    <div class="content">
        <div class="top_btn_area">
            <!-- <a href="#none" class="btn icon type_01"><span class="icon_plus" aria-hidden="true"></span>버튼</a> -->
            <a class="btn icon type_01 primary" th:href="@{/customer/regCustomer}"><span aria-hidden="true"
                                                                                         class="icon_plus"></span>등록</a>
        </div>
        <!-- //top_btn_area -->
        <form id="pagingForm">
            <input name="perPageNum" type="hidden" value="">
            <div class="search_area">
                <div class="search_row_01"> <!-- 줄바꿈 없이 1줄 고정 -->
                    <div class="search_item">
                        <label>등록일시</label>
                        <div class='input datetime_input type_02'>
                            <input aria-label="Start date & time" type="datetime-local" name="startDate">
                        </div>
                        <span class="mark type_02">−</span>
                        <div class='input datetime_input type_02'>
                            <input aria-label="End date & time" type="datetime-local" name="endDate">
                        </div>
                    </div>
                    <div class="search_item">
                        <label>고객사 아이디</label>
                        <div class="input type_02 s">
                            <input placeholder="검색어 입력" type="text" name="custCompId">
                        </div>
                    </div>
                    <div class="search_item">
                        <label>고객사 명</label>
                        <div class="input type_02 s">
                            <input placeholder="검색어 입력" type="text" name="custCompNm">
                        </div>
                    </div>
                    <div class="search_item">
                        <label>담당자 이름</label>
                        <div class="input type_02 s">
                            <input placeholder="검색어 입력" type="text" name="cpsnNm">
                        </div>
                    </div>
                </div>
                <div class="search_btn_area">
                    <button class="btn type_03" th:onclick="search()" type="button"><span>검색</span></button>
<!--                    <button class="btn icon stooltip" type="button">-->
<!--                        <span aria-hidden="true" class="icon_undo"></span>-->
<!--                        <span>초기화</span>-->
<!--                    </button>-->
                </div>
            </div>
        </form>
        <div class="list_top_area">
            <div class="top_left">
                <div class="function_btn">
                    <button class="btn icon type_06" type="button"><span aria-hidden="true"
                                                                         class="icon_download"></span>Download
                    </button>
                </div>
            </div>
            <div class="top_right">
                <div class="result_total">
                    <span>
<!--                        <th:block th:if="${pageMaker.criteria.page == 1}">-->
                        <!--                            [[${pageMaker.criteria.page}]] - [[${pageMaker.criteria.perPageNum}]] of [[${pageMaker.totalCount}]]-->
                        <!--                        </th:block>-->
                        <!--                        <th:block th:if="${pageMaker.criteria.page != 1}">-->
                        <!--                            [[${pageMaker.criteria.page * pageMaker.criteria.perPageNum+1}]] - [[${pageMaker.criteria.page * pageMaker.criteria.perPageNum + pageMaker.criteria.perPageNum}]] of [[${pageMaker.totalCount}]]-->
                        <!--                        </th:block>-->
                        [[${pageMaker.totalCount}]] Result Found
                    </span>
                </div>
                <div class="pagination">
                    <ul>
                        <th:block th:if="${pageMaker.prev}">
                            <li><a class="btn first" th:href="@{customer?page=1}"><span>처음</span></a>
                            </li>
                            <li><a class="btn before"
                                   th:href="@{customer(page=${pageMaker.startPage-1})}"><span>이전</span></a></li>
                        </th:block>
                        <th:block th:with="start = ${pageMaker.startPage}, end=${pageMaker.endPage}">
                            <li th:each="pageNum : ${#numbers.sequence(start, end)}">
                                <a th:class="${pageMaker.criteria.page == pageNum} ? 'on' : '' "
                                   th:href="@{customer(page=${pageNum}, perPageNum=${pageMaker.criteria.perPageNum})}"
                                   th:onclick="activeClass(this.text)"
                                   th:text="${pageNum}"></a>
                            </li>
                        </th:block>
                        <th:block th:if="${pageMaker.next && pageMaker.endPage > 0}">
                            <li><a class="btn next"
                                   th:href="@{customer(page=${pageMaker.endPage+1})}"><span>다음</span></a>
                            </li>
                        </th:block>
                        <li><a class="btn last" th:href="@{customer(page=${pageMaker.endPage})}"><span>마지막</span></a>
                        </li>
                    </ul>
                </div>
                <div class="select type_02 xs">
                    <select id="perPageNum" th:onchange="selPerPageNum(this.value)">
                        <option value="20">20 rows</option>
                        <option value="50">50 rows</option>
                        <option value="100">100 rows</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="table type_01 link">
            <table>
                <caption>검색 결과 목록</caption>
                <thead>
                <tr>
                    <th scope="col">등록일시</th>
                    <th scope="col">고객사 아이디</th>
                    <th scope="col">고객사 명</th>
                    <th scope="col">담당자 이름</th>
                    <th scope="col">담당자 연락처</th>
                    <th class="tac" scope="col">주차장</th>
                    <th class="tac" scope="col">연동서버</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="custComp : ${list}">
                    <td th:text="${custComp.stmFrstRegDtm}"></td>
                    <td th:text="${custComp.custCompNm}"></td>
                    <td th:text="${custComp.custCompNm}"></td>
                    <td th:text="${custComp.stmFrstRegUserId}"></td>
                    <td th:text="${custComp.cpsnTelNo}"></td>
                    <td class="tac">
                        <button class="btn type_07" type="button" th:onclick="openPkstSelPop([[${custComp.custCompNm}]])">조회</button>
                    </td>
                    <td class="tac">
                        <button class="btn type_07 secondary" type="button">설정</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Loading -->
        <!-- <div class="table type_01">
            <div class="table_info">
                <div class="loading type_02"><i></i><span class="hidden">Loading</span></div>
            </div>
        </div> -->

        <!-- No Data -->
        <!-- <div class="table type_01">
            <div class="table_info">
                <div class="no_data">조건에 맞는 검색 결과가 없습니다.</div>
            </div>
        </div> -->
    </div>
    <script th:inline="javascript">
    </script>
    <script th:src="@{/scripts/customer/customerList.js}"></script>
</th:block>

</html>