<!DOCTYPE HTML>
<html
        layout:decorate="~{/views/layout/listLayout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/customer/customerList.js}"></script>
    <script th:inline="javascript">
        let perPageNum = [[${pageMaker.criteria.perPageNum}]]
    </script>
    <title>고객사 리스트</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container" style="max-width: 600px">
        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>이름</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${list}">
                    <td><a th:href="@{/customer/{customerId}(customerId = ${customer.id})}"
                           th:text="${customer.id}"></a>
                    </td>
                    <td><a th:href="@{/customer/{customerId}(customerId = ${customer.id})}"
                           th:text="${customer.name}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <form id="pagingForm">
                고객명 : <input name="searchCustName" type="text">
                <input name="perPageNum" type="hidden" value="">
                <input onclick="search()" type="submit" value="검색">
            </form>
            <select class="form-select" id="selePerPageNum" th:onchange="selPerPageNum(this.value)">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
            <ul class="pagination">
                <th:block th:if="${pageMaker.prev}">
                    <li><a th:href="@{customer(page=${pageMaker.startPage-1})}">&laquo;</a></li>
                </th:block>

                <th:block th:with="start = ${pageMaker.startPage}, end=${pageMaker.endPage}">
                    <li th:each="pageNum : ${#numbers.sequence(start, end)}">
                        <a th:href="@{customer(page=${pageNum}, perPageNum=${pageMaker.criteria.perPageNum})}"
                           th:text="${pageNum}"></a>
                    </li>
                </th:block>

                <th:block th:if="${pageMaker.next && pageMaker.endPage > 0}">
                    <li><a th:href="@{customer(page=${pageMaker.endPage+1})}">&raquo;</a></li>
                </th:block>
            </ul>
        </div>

    </div> <!-- /container -->
</th:block>
</body>
</html>