<!--<!DOCTYPE html>-->
<html lang="ko"
      layout:decorate="~{/views/layout/mainLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<th:block layout:fragment="content">
    <div class="utility type_01">
        <div class="container">
            <div class="container_box">
                <h1 class="logo">SK shieldus - SCOP Portal</h1>
                <h2>로그인</h2>
                <div class="form_area">
                    <form method="post" th:action="@{/loginProc}">
                        <!-- for, id, name 이름은 임시로 넣은 것으로 개발에서 정의한 이름으로 사용해주세요 -->
                        <label class="label" for="adminId">아이디</label>
                        <div class="input type_04 icon"> <!-- 오류시 error 클래스명 추가 -->
                            <input id="adminId" name="adminId" required type="text">
                            <span aria-hidden="true" class="icon_user2"></span>
                        </div>
                        <label class="label" for="password">비밀번호</label>
                        <div class="input type_04 icon">
                            <!-- 오류시 error 클래스명 추가 -->
                            <input id="password" name="password" required type="password">
                            <span aria-hidden="true" class="icon_lock"></span>
                        </div>
                        <!-- 오류 문구 표시 -->
                        <p class="error_msg" th:text="${param.error} ? #{msg.login.error.loginInfo} : ''"
                                             th:style="'display:' + (${param.error} ? 'block' :'none')"></p>
                        <div class="btn_area">
                            <button class="btn type_05 primary" th:onclick="validate()" type="submit">로그인</button>
                        </div>
                    </form>
                </div>
                <div class="link_area">
                    <a class="btn link" th:href="@{/login/findId}">아이디 찾기</a>
                    <a class="btn link" th:href="@{/login/findPw}">비밀번호 찾기</a>
                </div>
            </div>
            <div class="footer">
                <p class="copyright">COPYRIGHT <b>SK SHIELDUS</b>. ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        //spring message 값 변수 선언
        let msgErrorId = /*[[#{msg.login.error.user_id}]]*/'';
        let msgErrorPW = /*[[#{msg.login.error.password}]]*/'';
    </script>
    <script th:src="@{/scripts/login/login.js}"></script>
</th:block>
</html>
