<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="telephone=no" name="format-detection"> <!-- 숫자값에 자동 링크 버그 제거 (Edge, mobile)-->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
    <!-- common -->
    <script th:src="@{/scripts/nui/jquery.1.11.2.min.js}"></script>
    <script th:src="@{/scripts/nui/jquery-ui.min.js}"></script>
    <script th:src="@{/scripts/nui/ui_common.js}"></script>
    <script th:src="@{/scripts/common/common.js}"></script>
    <!-- modal, colorpicker, tooltip, dropdown, multiselect -->
    <script th:src="@{/scripts/nui/bootstrap.bundle.min.js}"></script>
    <!-- multiselect -->
    <script th:src="@{/scripts/nui/bootstrap-multiselect.js}"></script>
    <!--    security 설정으로 인한 csrf 토큰   -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <title>SCOP Portal</title>
    <script th:inline="javascript">
        let csrfHeader = $('meta[name="_csrf_header"]').attr('content');
        let csrfToken = $('meta[name="_csrf"]').attr('content');
    </script>
</th:block>
</html>
