<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="telephone=no" name="format-detection"> <!-- 숫자값에 자동 링크 버그 제거 (Edge, mobile)-->
    <title>SCOP Portal</title>
    <script th:src="@{/scripts/nui/jquery.1.11.2.min.js}"></script>
    <script th:src="@{/scripts/nui/jquery-ui.min.js}"></script>
    <!-- common -->
    <script th:src="@{/scripts/nui/ui_common.js}"></script>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</th:block>
</html>
