<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="nav">
    <nav aria-label="왼쪽 메인 메뉴" class="lnb">
        <ul class="navigation">
            <li>
                <a href="#"><span aria-hidden="true" class="menu_01"></span><span>대시보드</span></a>
            </li>
            <li>
                <a th:href="@{/customer}"><span aria-hidden="true" class="menu_02"></span><span>고객사 관리</span></a>
            </li>
            <li>
                <a href="#"><span aria-hidden="true" class="menu_03"></span><span>주차장 관리</span></a>
            </li>
            <li>
                <a href="#"><span aria-hidden="true" class="menu_04"></span><span>차량 정산 이력</span></a>
            </li>
            <li>
                <a href="#"><span aria-hidden="true" class="menu_05"></span><span>시스템 모니터링</span></a>
            </li>
            <li>
                <a href="#"><span aria-hidden="true" class="menu_06"></span><span>운영자 관리</span></a>
            </li>
        </ul>
    </nav>
</th:block>
</html>